{
  "extends": "airbnb/legacy",
  "env": {
    "mocha": true
  },
  "rules": {
    "no-console": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "quotes": [2, "double", "avoid-escape"],
    "no-shadow": 1
  }
}
