<div>
  <p>Hi. This is our app for parsing tif-links from the fmi-api.</p>
  <p>
    You simply put your own API-key and the query you want to send to these fields
    and then our API sends the request for you and fetches the XML-link and the tif-links for you.
    Cool stuff huh?
  </p>
  <div>
    <label>your api-key</label>
    <input ng-model="api_field">
    <label>your query</label>
    <input ng-model="query_field">
    <button ng-click="sendRequest()">Send</button>
  </div>
  <h2>Results</h2>
  <p>{{ fmilink }}</p>
  <ul>
    <li ng-repeat="tiflink in tiflinks">
      {{ tiflink }}
    </li>
  </ul>
</div>
