<nav-directive></nav-directive>
<div class="main-container container">
  <h1>Is the coolest app ever.</h1>
  <p>
    Hi. This is our app we made for Älykäs Vesi -hackathon 2016 Spring and <a href="https://github.com/Sumato-Mizu">here is our source code.</a> This app parses tif-links from the fmi-api <a href="http://data.fmi.fi/fmi-apikey/">http://data.fmi.fi/fmi-apikey/</a>
    and also generates more human-readable pictures from them once you click "generate" on some of those links.
    It might also put them on the Map if we somehow manage to get the coordinates right.
  </p>
  <p>
    Here you simply put your own API-key and the query you want to send to these fields
    and then our API sends the request for you and fetches the XML-link and the tif-links for you.
    Cool stuff huh?
  </p>
  <p>
    <a ng-href="http://en.ilmatieteenlaitos.fi/open-data-manual-fmi-wfs-services">Here is how to write your queries</a>
  </p>
  <div>
    <form role="form">
      <div class="form-group">
        <label>Your api-key</label>
        <input class="form-control" ng-model="api_field">
        <label>Your query</label>
        <input class="form-control" ng-model="query_field">
        <button class="btn btn-primary" ng-click="sendRequest()">Send</button>
      </div>
    </form>
  </div>
  <h2>Results</h2>
  <div ng-hide="checkIfErrorUndefined()">
    <h3>Calling API caused an error!</h3>
    <p>{{ apierror.message }}</p>
  </div>
  <div ng-show="checkIfErrorUndefined()">
    <h3>Resulting xml</h3>
    <a href="{{ fmilink }}">{{ fmilink }}</a>
    <h3>Resulting tif-files parsed from the xml</h3>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="tiflink in tiflinks">
        <div>
          <a href="{{ tiflink }}">{{ tiflink }}</a>
        </div>
        <button class="btn btn-success"ng-click="generateMap($index)">Generate picture for the Map</button>
      </li>
    </ul>
  </div>
</div>
